.content	
	%div.show
		%div.image
			=link_to image_tag(@user.avatar.url(:medium), :alt => @user.name), user_url(@user)
		%div.data
			%h1= @user.name
			%p email: #{@user.email}
			%p school: #{@user.school}
			-if current_user == @user
				=link_to "Edit", edit_user_path(@user)
	%div.small_post
		=render :partial => "posts/random_item", :collection => @random_items, :as => :post
	-if current_user == @user
		%h2 your groups:
		.special_link=link_to "create a group", new_group_path
	-else
		%h2 #{@user.name} groups
	%table
		=render @user.groups_as_owner
	-if current_user == @user 
		%h2 you are a member of:
		.special_link=link_to "search groups", groups_path
	-else
		%h2 #{@user.name} is a member of:
	%table	
		=render @groups_member
	=render :partial => "form_after_signup"
=render :partial => 'shared/side_nav'