%h1= @user.name
%p email: #{@user.email}
%p school: #{@user.school}

-if current_user == @user
	=link_to "Edit", edit_user_path(@user)


%ul.sidenav
	%li= link_to "your items", user_posts_path(@user)
	%li= link_to "account details", edit_user_path(@user)
	%li= link_to "add items", new_user_post_path(@user)
	%li= link_to "create group", new_group_path

%table
	=render @user.groups_as_owner
%table	
	=render @groups
=render :partial => "form_after_signup"