%h1= @user.name
%p email: #{@user.email}
%p school: #{@user.school}

-if current_user == @user
	=link_to "Edit", edit_user_path(@user)


%ul
	/%li= link_to "your items", #
	%li= link_to "account details", edit_user_path(@user)
	/%li= link_to "add items", #
	%li= link_to "create group", new_group_path