%ul.sidenav
	%li= link_to "my items", user_posts_path(current_user)
	%li= link_to "my groups", user_groups_path(current_user)
	%li.pink= link_to "post something", new_user_post_path(current_user)
	%li= link_to "account details", edit_user_path(current_user)
	%li= link_to "create group", new_user_group_path(current_user)