.sidebar
  %ul.sidenav
    %li= link_to "my items", user_posts_path(current_user)
    %li= link_to "my groups", user_groups_path(current_user)
    %li.pink= link_to "post something", new_user_post_path(current_user)
    %li= link_to "account details", edit_user_path(current_user)
    %li= link_to "create a group", new_user_group_path(current_user)
  .category-container
    %div.category-title
      %p Categories
    %ul.categories
      -@categories.each do |category|
        %li= link_to "#{category.name}", product_category_path(category)
