.sidebar
	%ul.sidenav
		%li= link_to "my items", user_posts_path(current_user)
		%li= link_to "my groups", user_groups_path(current_user)
		%li.pink= link_to "post something", new_user_post_path(current_user)
		%li= link_to "account details", edit_user_path(current_user)
		%li= link_to "create group", new_user_group_path(current_user)
	.category-container
		%div.category-title
			%p Categories
		%ul.categories
			%li= link_to "For Sale", product_category_posts_path(1)
			%li= link_to "Wanted", product_category_posts_path(2)
			%li= link_to "Jobs/Internships", product_category_posts_path(3)
			%li= link_to "Free Stuff", product_category_posts_path(4)
			%li= link_to "Housing", product_category_posts_path(5)