.sidebar
	%ul.sidenav
		%li= link_to "my items", user_posts_path(current_user)
		%li= link_to "my groups", user_groups_path(current_user)
		%li.pink= link_to "post something", new_user_post_path(current_user)
		%li= link_to "account details", edit_user_path(current_user)
		%li= link_to "create a group", new_user_group_path(current_user)
	.category-container
		%div.category-title
			%p Categories
		%ul.categories
			-@categories.each do |category|
				%li= link_to "#{category.name}", product_category_path(category)
	/PUT ADVERTISEMENTS HERE!!!!!!!
	.category-container
		%div.category-title
			%p Group Categories
		%ul.categories
			-@other_categories.each do |group_category|
				%li= link_to "#{group_category.name}", group_category_path(group_category)
	-if current_page?(root_url)
		%div.show
			%div.image
				=link_to image_tag(@user.avatar.url(:medium), :alt => @user.name), user_url(@user)
			%div.data
				%h1= @user.name
				%p email: #{@user.email}
				%p school: #{@user.school}
				-if current_user == @user
					=link_to "Edit", edit_user_path(@user)
