<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/favicon.ico" type="image/ico" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title><%= title %></title>
  <%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLISHABLE_KEY %>
  
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="Gh4EUWxRe-nJPFt_Pd3LdtQONyW3PLcKNO1fCCNFpJg" />
</head>
<body>
	<div class ="container">
		<%= render "shared/header" %>
		<%- for msg in [:notice, :success, :failure, :error] %>
		  <%= flash[msg] if !flash[msg].blank? %>
	  <%-end-%>
		<section class = "main">
			<%= yield %>
			<div class="clear"></div>
		</section>
		<%= render "shared/footer" %>
	</div>	
</body>
</html>
