<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/favicon.ico" type="image/ico" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class ="container">
		<%= render "shared/header" %>
		<%- for msg in [:notice, :success, :failure, :error] %>
		  <%= flash[msg] if !flash[msg].blank? %>
	  <%-end-%>
		<section class = "main">
			<%= yield %>
			<div class="clear"></div>
		</section>
		<%= render "shared/footer" %>
	</div>	
</body>
</html>
